<!-- Modal used in order to add a new teacher -->
<div class="modal fade" id="myModalUserStaff" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Ajouter un utilisateur</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <input class="btn btn-flat btn-warning" type="submit" value="Enregistrer un mentor" data-toggle="modal" data-target="#myModalMentor" />
                        <input class="btn btn-flat btn-warning" type="submit" value="Enregistrer un mentore" data-toggle="modal" data-target="#myModalMentores" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>