{% extends ':BackBundle/Layout:admin.html.twig' %}

{% block title %} - Soutenances{% endblock %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            {% for message in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i>Information</h4>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des soutenances</h3>
                </div>

                {% include 'BackBundle/Elements/box_soutenances.html.twig' %}

            </div>
        </div>
    </div>
    {% include ':Form:register_soutenance.html.twig' %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="well">
                <button type="button" class="btn btn-flat btn-warning" data-toggle="modal" data-target="#myModalSoutenance">
                    Ajouter une soutenance
                </button>
            </div>
        </div>
    </div>
{% endblock %}