{% extends ':BackBundle/Layout:admin.html.twig' %}

{% block title %} - Suivi des élèves{% endblock %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12 col-md-12">

            {% include ':Elements/UI/Flash:list_flash.html.twig' %}

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="well">
                <button type="button" class="btn btn-flat btn-warning" data-toggle="modal" data-target="#myModalMentores">
                    Ajouter un élève
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des mentores</h3>
                </div>

                {% include ':BackBundle/Elements:box_mentores.html.twig' %}

            </div>
        </div>
    </div>

    {% include 'Form/Users/register_student.html.twig' %}

{% endblock %}
