{% extends 'Layout/admin.html.twig' %}

{% block title %} - Soutenances{% endblock %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModalSoutenance">
                Ajouter un soutenance
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des soutenances</h3>
                </div>

                {% include 'BackBundle/Elements/box_soutenances.html.twig' %}

            </div>
        </div>
    </div>

    {% include ':Form:register_soutenance.html.twig' %}
{% endblock %}