<div class="tab-pane" id="projets">
    <!-- Suivi projets -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                <tr>
                    <th>Intitulé du projet</th>
                    <th>Status</th>
                    {% if is_granted('ROLE_MENTOR') %}
                        <th>Modifier</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for projets in mentore.suivi.parcours.projet %}
                    <tr>
                        <td>
                            {{ projets.libelle }}
                        </td>
                        <td>

                            {% include ':Elements/Box/Mentores/Status_Suivi:status_projets.html.twig' %}

                        </td>
                        {% if is_granted('ROLE_MENTOR') %}
                            <td>
                                <a href="{{ path('update_status_project', {'id': projets.id}) }}"><span class="ion ion-wrench"></span></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
