<div class="active tab-pane" id="parcours">
    <!-- Suivi parcours -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                <tr>
                    <th>Intitulé du cours</th>
                    <th>Status</th>
                    {% if is_granted('ROLE_MENTOR') %}
                        <th>Modifier</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for cours in mentore.suivi.parcours.cours %}
                    <tr>
                        <td>
                            {{ cours.libelle }}
                        </td>
                        <td>
                            {% if cours.status == null %}
                                <span class="label label-info">En attente</span>
                            {% elseif cours.status == 'En cours' %}
                                <span class="label label-warning">{{ cours.status }}</span>
                            {% elseif cours.status == 'Terminé' %}
                                <span class="label label-success">{{ cours.status }}</span>
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_MENTOR') %}
                            <td>
                                <a href="{{ path('update_status_courses', {'id': cours.id}) }}"><span class="ion ion-wrench"></span></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>