<div class="active tab-pane" id="parcours">
    <!-- Suivi parcours -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                <tr>
                    <th>Intitulé du cours</th>
                    <th>Status</th>
                    {% if is_granted('ROLE_MENTOR') %}
                        <th>Modifier</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for cours in mentore.suivi.parcours.cours %}

                    {% include ':Elements/Box/Mentores/Profil:show_cours.html.twig' %}

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
