{% extends 'base.html.twig' %}

{% block body %}
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow">404</h2>
                <div class="error-content">
                    <h3><i class="fa fa-warning text-yellow"></i>Mais ?! Serait-ce une erreur ?!</h3>
                    <p>
                        En effet, la page demandée semble ne pas exister, veuillez nous excuser du désagrément, nous vous
                        prions de revenir en arrière.
                    </p>
                </div>
            </div>
        </section>
{% endblock %}
