{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-blue">405</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-blue"></i>Mais, comme t'est-tu retrouver là ?</h3>
                <p>
                    Parce que nous sommes aimable, nous allons t'excuser de ne pas avoir pris la bonne méthode pour
                    venir jusqu'ici, nous allons donc stopper ta progression ici et te demander de revenir en arrière.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
