<td>
    <a href="{{ path('update_mentores', {'id': mentores.id}) }}">
        <button type="button" class="btn btn-flat btn-warning">Modifier <span class="ion ion-wrench"></span> </button>
    </a>
    {% if mentores.archived == false %}
        <a type="button" class="btn btn-flat btn-danger" href="{{ path('archive_mentore', {'id': mentores.id}) }}">
            Archiver <span class="ion ion-folder"></span>
        </a>
    {% endif %}
    {% if mentores.enabled == false %}
        <a href="{{ path('security_validate_student', {'id': mentores.id }) }}" class="btn btn-flat btn-success">
            Activer <span class="ion ion-checkmark"></span>
        </a>
    {% endif %}
</td>