<td>
    {% if mentores.suivi.mentoreStatus is empty %}
        <p>Aucun statut actuel</p>
    {% else %}

        {% include ':Elements/Box/Mentores/Status_Suivi:status_formation.html.twig' %}

    {% endif %}
</td>
