{% extends ':AdminBundle/Layout:administration.html.twig' %}

{% block admin_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

                {% include ':Elements/UI/Flash:list_flash.html.twig' %}

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="well">
                    <a href="{{ path('facturation_generation') }}" type="button" class="btn btn-flat btn-warning">
                        Générer les factures
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
