{% elseif events.categorie == 'Staff' %}
    <li>
        <a href="#">
            <i class="fa fa-information text-red"></i> {{ events.libelle }}
        </a>
    </li>
{% elseif events.categorie == 'Danger' %}
    <li>
        <a href="#">
            <i class="fa fa-information text-red"></i> {{ events.libelle }}
        </a>
    </li>

{% elseif events.categorie == 'Facturation' %}
    <li>
        <a href="#">
            <i class="fa fa-credit-card text-red"></i> {{ events.libelle }}
        </a>
    </li>
{% endif %}
