{% if events.categorie == 'Important' %}
    <li>
        <a href="#">
            <i class="ion ion-alert"></i> {{ events.libelle }}
        </a>
    </li>
{% elseif events.categorie == 'Information' %}
    <li>
        <a href="#">
            <i class="ion ion-information-circled"></i> {{ events.libelle }}
        </a>
    </li>
{% elseif events.categorie == 'Danger' %}
    <li>
        <a href="#">
            <i class="ion ion-alert-circled"></i> {{ events.libelle }}
        </a>
    </li>
{% elseif events.categorie == 'Maintenance' %}
    <li>
        <a href="#">
            <i class="ion ion-wrench"></i> {{ events.libelle }}
        </a>
    </li>
{% endif %}
