# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    #database_host:     127.0.0.1
    #database_port:     ~
    #database_name:     zboard
    #database_user:     root
    #database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"
    database_host: us-cdbr-iron-east-04.cleardb.net
    database_port: null
    database_name: heroku_1156c3226f702a5
    database_user: b323641de1e937
    database_password: 4377f7fe
    mailer_transport:  smtp
    mailer_host:       mailtrap.io
    mailer_user:       e34245b3df5d40
    mailer_password:   2394b6d4d6bcd3
    mailer_port:       2525

    # A secret key that's used to generate certain security-related tokens
    secret:            a6042532396363da6472d3a7f236d9fa223d6e9d
