{% extends "::layout_mentor.html.twig" %}

{% block title %} - Formation{% endblock %}

{% block body %}

{% if is_granted('ROLE_MENTOR') %}
<div class="alert alert-info">Votre formation est terminée ! Félicitations, vous êtes donc un Jedi de niveau 1 !</div>
{% else %}
Bonjour et bienvenue à toi nouveau mentor ! <br /> Voici les étapes à remplir pour te faire confirmer :

{% for etape in formation %}
<div class="checkbox">
  <label><input onclick="updateFormation({{etape.id}})" type="checkbox" id="{{etape.id}}" {% if etape.validate == true %}checked=""{% endif %} value="">{{ etape.etape|e }}</label>
</div>
{% endfor %}

<script>
function updateFormation(id)
{
  $.post('{{path('mentorat_formation_update')}}',
                {id: id});
}
</script>

{% endif %}


{% endblock %}
