{% extends "::layout_mentor.html.twig" %}

{% block body %}
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-person-stalker"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Mentorés</span>
          <span class="info-box-number">90</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="ion ion-camera"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Soutenances</span>
          <span class="info-box-number">41,410</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ion ion-calendar"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Séances</span>
          <span class="info-box-number">760</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  <!-- Default box -->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="well">
              <h3>Dernière information : {{ last_information[0].title|e }}</h3>
              <i>{{ last_information[0].dcreated|date('d/m/Y') }}</i>
              <br />
              <p>{{ last_information[0].body|e }}</p>
            </div>
        </div>
    </div>

{% endblock %}
