{% extends "::layout_mentor.html.twig" %}

{% block body %}
Infos mentorat

{% if is_granted('ROLE_ADMIN') %}
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalInformation">
            Ajouter une information
        </button>
    </div>
</div>
{% endif %}

{% for info in informations %}
  <h3>{{ info.title|e }}</h3>
  <p>{{ info.body|e }}</p>
  <hr />
{% endfor %}

{% include ':Form:register_information.html.twig' %}

{% endblock %}
