{% extends "::layout_mentor.html.twig" %}

{% block title %} - Informations{% endblock %}

{% block body %}

    {% if is_granted('ROLE_SUPERVISEUR_MENTOR') %}
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="well">
                    <button type="button" class="btn btn-flat btn-warning" data-toggle="modal" data-target="#myModalInformation">
                        Ajouter une Information
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            {% include ':Elements:pagination.html.twig' %}
        </div>
    </div>
    {% for info in informations %}
      <h3>{{ info.title|e }}</h3>
      <p>{{ info.body|e }}</p>
      <hr />
    {% endfor %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            {% include ':Elements:pagination.html.twig' %}
        </div>
    </div>
    {% include ':Form:register_information.html.twig' %}

{% endblock %}
