<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Nom du parcours</th>
                <th>Niveau diplôme</th>
                {% if is_granted('ROLE_SUPERVISEUR_MENTOR') %}
                    <th>Modifier</th>
                    <th>Archiver</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for path in path %}
                <tr>
                    <td>
                        <a href="{{ path('show_parcours', {'id': path.id}) }}">{{ path.libelle }}</a>
                    </td>
                    <td>
                        {{ path.diplome }}
                    </td>
                    {% if is_granted('ROLE_SUPERVISEUR_MENTOR') %}
                        <td>
                            <a href="{{ path('update_parcours', {'id': path.id}) }}"><span class="ion ion-wrench"></span></a>
                        </td>
                        <td>
                            <a href="#"><span class="ion ion-folder"></span></a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>