<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Nom de l'élève</th>
                <th>Nom du mentor</th>
                <th>Date de passage</th>
                <th>Projet</th>
                <th>Statut</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                {% for soutenances in soutenances %}
                    <td>
                        {{ soutenances.mentore.lastname }}
                    </td>
                    <td>
                        {{ soutenances.mentor.lastname }}
                    </td>
                    <td>
                        {{ soutenances.passedAt|date("d-M-Y", "Europe/Paris") }}
                    </td>
                    <td>
                        {{ soutenances.projet }}
                    </td>
                    <td>
                        A définir
                    </td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>