<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Nom de l'élève</th>
                <th>Nom du mentor</th>
                <th>Statut</th>
                <th>Projet</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>