{% extends "::mentor.html.twig" %}

{% block body %}

<div class="row">
  <div class="col s12 m3 offset-m1">
    <div class="card blue darken-1">
      <div class="card-content white-text">
        <span class="card-title">Informations mentorat</span>
      </div>
      <div class="card-action">
        <a href="#">Acceder aux infos</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card red darken-1">
      <div class="card-content white-text">
        <span class="card-title">Alertes</span>
      </div>
      <div class="card-action">
        <a href="#">Acceder aux alertes</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card green darken-1">
      <div class="card-content white-text">
        <span class="card-title">Soutenances</span>
      </div>
      <div class="card-action">
        <a href="#">Acceder aux soutenances</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card-panel white">
      <span>News on mentorat
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum urna vel erat vehicula accumsan. Sed nunc neque, rhoncus varius feugiat in, efficitur a elit. Curabitur tempor purus vel velit posuere, in consequat risus dignissim. Nunc rutrum, elit quis finibus feugiat, ex lorem imperdiet sapien, sit amet ultricies diam nibh quis orci. Duis dictum a enim a eleifend. Aenean fringilla aliquet lobortis. Proin luctus ultricies lobortis. Maecenas tempus sem quam, at vehicula lectus cursus ac. Ut congue risus at orci posuere faucibus. Morbi condimentum eget leo venenatis cursus.

        Sed porttitor massa eros, sit amet tempor urna hendrerit non. Mauris placerat consequat orci, maximus sagittis lorem bibendum vel. Praesent ultrices placerat tellus eu egestas. Quisque ullamcorper velit eu fermentum ultrices. Cras scelerisque, purus in eleifend lacinia, risus purus venenatis massa, sit amet egestas sem arcu facilisis diam. Donec et interdum neque. Nunc accumsan ac urna vel condimentum. Integer vehicula, tortor ut malesuada condimentum, mauris dui semper metus, et suscipit nisl dolor eleifend neque. Nulla nec tincidunt est. Maecenas suscipit elementum mi quis fringilla. Sed sed malesuada erat, vel feugiat ipsum. Donec vel lacus at odio tempor volutpat a at mi. Morbi finibus semper nisi nec venenatis. Integer iaculis ultrices mauris, nec dapibus eros lacinia sed. Integer ac orci enim. Etiam in magna in leo molestie egestas.

        Integer laoreet gravida sem pellentesque vehicula. Mauris malesuada tortor neque, non malesuada libero convallis euismod. Pellentesque sit amet risus interdum ex ullamcorper ornare ut vel sem. Nulla auctor commodo massa vel scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse quam lacus, condimentum a faucibus in, ultricies nec tortor. Proin eu convallis libero, a laoreet nulla. Suspendisse commodo arcu eget enim ultrices blandit. Maecenas nunc tortor, ornare ac felis eget, posuere bibendum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas imperdiet, magna a congue fringilla, sapien nunc gravida dui, vitae pretium lacus nunc id tortor. Quisque ultrices, orci a euismod sodales, lectus velit venenatis purus, auctor accumsan tortor orci ut sapien.
      </span>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s10 offset-s1 red darken-1 white-text center-align"><p>Lever une alerte sur un cours</p></div>
</div>

{% endblock %}
