{% extends ':AdminBundle/Layout:administration.html.twig' %}

{% block title %} - Utilisateurs{% endblock %}

{% block admin_body %}
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i>Information</h4>
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des utilisateurs de ZBoard</h3>
                </div>
                {% include ':AdminBundle/Elements:box_list_users.html.twig' %}

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des utilisateurs de ZBoard</h3>
                </div>
                {% include ':BackBundle/Elements:box_mentores.html.twig' %}

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="well">
                <button type="button" class="btn btn-flat btn-warning" data-toggle="modal" data-target="#myModalUserStaff">
                    Ajouter un utilisateur
                </button>
            </div>
        </div>
    </div>

    {% include ':Form:register_user_staff.html.twig' %}

    {% include ':Form/Users:register_user.html.twig' %}

    {% include ':Form/Users:register_student.html.twig' %}

{% endblock %}