{% extends 'layout_mentor.html.twig' %}

{% block title %} - Notifications{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12">

                {% include ':Elements/UI/Flash:list_flash.html.twig' %}

            </div>
            <div class="col-xs-12">
                <!-- Allow to purge the notifications -->
                <div class="well">
                    <a type="button" class="btn btn-flat btn-warning" href="{{ path('purge_notifications') }}">
                        Supprimer les notifications
                    </a>
                </div>
            </div>
            <div class="col-xs-12">
                <!-- List the notifications -->
                <ul class="timeline timeline-inverse">
                    {% for events in events %}
                        <li class="time-label">
                            <span class="bg-red">
                                {{ events.date|date('d-m-Y', 'Europe/Paris') }}
                            </span>
                        </li>
                        <li>

                            {% include ':Elements/UI/Notifications/Suppression:supression_globales.html.twig' %}

                            <div class="timeline-item">
                                <div class="timeline-body">
                                    {{ events.libelle }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
