 <body class="hold-transition login-page">
     <div class="login-box">
         <div class="login-logo">
             <a href="{{ path('user_default_index') }}">Zboard</a>
         </div>
         <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
             <div>
                 {% if invalid_username is defined %}
                     <p class="text-center">Veuillez entrer votre adresse mail ou votre pseudonyme</p>
                 {% endif %}
                 <label for="username">Veuillez saisir votre adresse email ou votre pseudonyme</label>
                 <input class="form-control" type="text" id="username" name="username" required="required" />
             </div>
             <br />
             <div class="col-xs-12 text-center">
                 <input class="btn btn-flat btn-warning" type="submit" value="Réinitialiser le mot de passe" />
             </div>
         </form>
     </div>
 </body>
