<!-- Modal used in order to change the status of a courses -->
<div class="modal fade" id="myModalStatusCours" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modifier le statut du cours</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
