<!-- Modal used in order to archive a path -->
<div class="modal fade" id="myModalArchivagePath" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">Archiver un Parcours</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p><strong>Attention !</strong></p>
                        <p>
                            En archivant ce parcours, plus aucun élève ne pourra s'y inscrire et tout les projets liés
                            à ce parcours seront bloqués, êtes-vous sûr de vouloir archiver ce parcours ?
                        </p>
                    </div>
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-danger" href="{{ path('archive_path', {'id': path.id}) }}">
                            Oui
                        </a>
                        <a class="btn btn-default" data-dismiss="modal">
                            Non
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>