<div class="tab-pane" id="student">
    <!-- Suivi elèves -->
    {% if mentor.suivi is not empty %}
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                <tr>
                    <th>Nom Prenom</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for mentores in mentor.suivi %}
                    <tr>
                        <td>
                            <a href="{{ path('show_details_mentore', {'id': mentores.mentore.id}) }}">
                                {{ mentores.mentore.lastname }} {{ mentores.mentore.firstname }}
                            </a>
                        </td>
                        <td>

                            {% include ':Elements/Box/Suivi:status_student.html.twig' %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>S
        </div>
    {% else %}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i>Information</h4>
            Aucun mentoré d'affecter.
        </div>
    {% endif %}
</div>