<div class="tab-pane" id="facturation">
    <!-- Suivi facturation -->
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Date de facturation</th>
                <th>Nombre de sessions facturées</th>
                <th>Statut</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
