<div class="tab-pane" id="facturation">
    <!-- Suivi facturation -->
    <div class="table-responsive">
        <div class="text-center">
            <a href="{{ path('home_facturation_mentor') }}" class="btn btn-flat btn-warning">Facturer vos sessions</a>
        </div>
        <hr />
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Date de facturation</th>
                <th>Nombre de sessions facturées</th>
                <th>Statut</th>
            </tr>
            </thead>
            <tbody>
            {% for factures in mentor.factures %}
                <tr>
                    <td>
                        {{ factures.dateFacturation|date('d-m-Y', 'Europe/Paris') }}
                    </td>
                    <td>
                        {{ factures.nbrSessions }}
                    </td>
                    <td>
                        {{ factures.state }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
