{% extends "::layout_mentor.html.twig" %}

{% block title %} - Recrutement{% endblock %}

{% block body %}

{% if is_granted('ROLE_SUPERVISEUR_MENTOR') %}
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Candidatures à arbitrer</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        {% if candidatures_dispute %}
          <table class="table table-bordered">
            <tr>
              <th style="width: 50%">Nom</th>
              <th>Date soumission</th>
              <th>Etat</th>
              <th>Actions</th>
            </tr>
            {% for candidature in candidatures_dispute %}
              <tr>
                <td>{{ candidature.nom }}</td>
                <td>{{ candidature.nom }}</td>
                <td><span class="badge bg-aqua">En attente</span></td>
                <td>
                  <button type="button" class="btn btn-flat btn-primary">Ajouter des documents</button>
                  <button type="button" class="btn btn-flat btn-info">Voir le détail</button>
                  <button type="button" class="btn btn-flat btn-success">Valider le projet</button>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          <div class="alert alert-warning">Il n'y a aucune candidature à arbitrer</div>
        {% endif %}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Candidatures en attente</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        {% if candidatures %}
        <table class="table table-bordered">
          <tr>
            <th style="width: 50%">Nom</th>
            <th>Date soumission</th>
            <th>Etat</th>
            <th>Actions</th>
          </tr>
          {% for candidature in candidatures %}
            <tr>
              <td>{{ candidature.nom }}</td>
              <td>{{ candidature.nom }}</td>
              <td><span class="badge bg-aqua">En attente</span></td>
              <td>
                <button type="button" class="btn btn-flat btn-success">Voir</button>
              </td>
            </tr>
          {% endfor %}
        </table>
        {% else %}
          <div class="alert alert-info">Il n'y a aucune candidature en attente</div>
        {% endif %}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
{% endblock %}
