<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tbody>
            {% for abonnements in abonnements %}
                <tr>
                    <td>
                       {{ abonnements.libelle }}
                    </td>
                    <td>
                        {{ abonnements.prix }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>