{% extends ":Emails:email_main_template.html.twig" %}


{% block titre %}Votre profil a bien été créé{% endblock %}

{% block body %}
        <section>
            <p>
                Nous sommes fier de vous compter parmis nos membres et nous tenions à porter à votre connaissance
                la création de votre profil sur Zboard, ce profil a été créer par le superviseur des utilisateurs et
                vos informations personelles ont été enregistrés sur notre base de données, afin d'éviter les erreurs
                d'enregistrement, voici un rappel de vos identifiants :
            </p>
            <hr />
            <p>
                Pseudonyme : Prenom_Nom (attention à l'underscore !)
                Mot de passe : prenom_nom (attention aux minuscules et à l'underscore !)
                Email : Adresse mail spécifié lors de l'entretien avec le supervieur.
                Role sur Zboard : Mentor.
            </p>
            <hr />
            <p>
                Note importante !
            </p>
            <p>
                Afin d'éviter tout soucis de prise se possession de votre profil, nous vous invitons à modifier votre
                mot de passe lors de votre première inscription, pour des raisons de sécurité, aucun mot de passe n'est
                conservé dans sa version non cryptée sur notre site et/ou notre base de données, dans l'optique où vous
                auriez besoin de retrouver votre mot de passe, nous ne pourrions pas vous renvoyer le dernier mot de
                passe enregistrée, il vous faudra alors passer via le formulaire de création d'un nouveau mot de passe
                situé en page de connexion situé à cette adresse : {{ path('fos_user_change_password') }}.
            </p>
        </section>
        <section>
            <p>L'équipe Zboard.</p>
            <p>Copyright 2016</p>
        </section>
{% endblock %}
