{% extends ":Emails:email_main_template.html.twig" %}


{% block titre %}Candidature refusée{% endblock %}

{% block body %}

<h1>Votre candidature a été rejeté</h1>

<p>Bonjour,</p>

<p>ZBoard vous informe qu'OpenClassrooms a décidé de refuser votre candidature.</p>

<p>Ils vous addressent les messages suivant : OK GOOGLE, MONTRES MOI DES PHOTOS DE GLACAGE DE CUPCAKES</p>
{% endblock %}
