{% extends "::email_main_template.html.twig" %}


{% block titre %}Candidature acceptée{% endblock %}

{% block body %}

<h1>Félicitations, votre candidature a été accepté !</h1>

<p>Bonjour,</p>

<p>ZBoard a le plaisir de vous informer qu'OpenClassrooms a décidé d'accepter votre candidature.</p>

<p>Votre compte a été créé de suite : vous pouvez y accéder avec votre email et le mot de passe blabla, que vous serez invité à changer dés votre première connexion.</p>
{% endblock %}
